@{
    ViewData["Title"] = "Home Page";
}

<div class="shelf shelf_1">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Snack Name</th>
                <th scope="col">Purchase Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Donuts</td>
                <td>Pies &amp; Cakes Bakery</td>
            </tr>
            <tr>
                <td>Spam</td>
                <td>Cub</td>
            </tr>
            <tr>
                <td>Pistachios</td>
                <td>Cub</td>
            </tr>
            <tr>
                <td>Buckets of M&amp;M's</td>
                <td>Cub</td>
            </tr>
        </tbody>
    </table>
